* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

.container {
    text-align: center;
    margin-top: 30vh;
}

.clockButtonContainer button {
    font-size: 1.125em;
    width: 5em;
    padding: .25em 0;
}

.clock {
    text-align: left;
    width: 5.825em;
    font-size: 3em;
    margin: 0 auto .5em auto;
}


.remindTimerContainer {
    margin-top: 1.25em;
    font-size: 1.125em;
}

.remindTime {
    cursor: pointer;
    width: 1.75em;
    text-decoration: underline;
}


.adjustRemindTimerContainer {
    margin-top: 1.25em;
    font-size: 1.125em;
    display: none;
}

.adjustRemindTimerContainer input {
    width: 1.75em;
}